@import base

.header
  background-color: $gray

.logo
  display: block
  padding:
    top: 8px
    bottom: 8px
  font:
    size: 1.5em
    weight: 700
  text:
    decoration: none
    align: center
  color: $white